@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary color: #1FA45B */

.bg-primary {
  @apply bg-[#1FA45B] hover:bg-[#1fa45be2] text-white p-3;
}

.text-primary {
  @apply text-[#1FA45B];
}
.text-secondary {
  @apply text-[#7E7E7E];
}
.text-desc {
  @apply text-[#393939];
}

.nav-item {
  @apply p-2 rounded-full bg-sky-50 w-fit drop-shadow-sm;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  /* --background-end-rgb: 255, 255, 255; */
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
